---
name: Audit

on:
  push:
  schedule:
    # At 8:30 every day
    - cron: 30 8 * * *

jobs:
  cargo-deny:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-audit.yml@develop
    name: Security Audit
    with:
      toolchain: 1.90.0
