---
name: CI checks

on: push

jobs:
  cargo-lint:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-lint.yml@develop
    with:
      toolchain: 1.90.0
  cargo-semver:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-semver.yml@develop
    with:
      toolchain: 1.90.0
  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: dtolnay/rust-toolchain@1.90.0
        with:
          components: rustfmt, clippy
      - name: Build
        run: |
          rustup target add wasm32-unknown-unknown
          # Exclude the openssl provider since it depends on OpenSSL which is not available for wasm
          cargo build --target wasm32-unknown-unknown  --workspace --exclude cosmian_openssl_provider
  hack:
    runs-on: ubuntu-latest
    steps:
      - name: Check storage
        run: df -h
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.90.0
          override: true
      - name: Install cargo-hack
        run: cargo install --locked cargo-hack || true
      - name: Test all feature combinations
        uses: actions-rs/cargo@v1
        with:
          command: hack
          args: check --feature-powerset --clean-per-run --no-dev-deps
  cargo-publish:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-publish-workspace.yml@develop
    with:
      toolchain: 1.90.0
    secrets:
      token: ${{ secrets.CRATES_IO }}
